<%= stylesheet_link_tag 'feedbacksnew.css' %>

<h1>Feedback Form</h1>

<div class = "container">
<%= form_with model: @feedback do |form| %>
  <div>
    <%= form.label :score, :class => "label" %><br>
    <%= form.number_field :score, in: 1.0..10.0, step: 0.5 , :class => "form-score" %>
  </div>
  <div>
    <%= form.label :comment, :class => "label" %><br>
    <%= form.text_area :comment, :class => "form-comment" %>
  </div>
  <div>
    <%= form.label :event_id, :class => "event"%><br>
    <%= form.collection_select :event_id, Event.order(:title), :id, :title, {}, {:class=>'dropdown'}%>
  </div>
    <%= form.hidden_field :student_id, :value => current_student.id %>
  <div>
    <%= form.submit class: "btn-submit" %>
  </div>


</div>
<% end %>
