<%= stylesheet_link_tag 'eventsnew.css' %>
<div class='bg'>
  <h1 id='title'>New Event</h1>

  <%= form_with model: @event do |e| %>
  <div class='form'>
    <div class='col-25' id='input-presenter'>
      <%= e.label :presenter %>
    </div>
    <div class='col-75'>
      <%= e.collection_select :presenter, Student.order(:name), :name, :name %>
    </div>
  </div>
  <br>
  <div class='form'>
    <div class='col-25' id='input-time'>
      <%= e.label :time %>
    </div>
    <div class='col-75'>
      <%= e.datetime_local_field :datetime %>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class='form'>
    <div class='col-25' id='input-title'>
      <%= e.label :title %>
    </div>
    <div class='col-75'>
      <%= e.text_field :title %>
    </div>
  </div>
  <br>
  <div class='form'>
    <div class='col-25' id='input-desc'>
      <%= e.label :desc %>
    </div>
    <div class='col-75'>
      <%= e.text_area :desc %>
    </div>
  </div>
  <br>
    <div>
      <%= e.submit %>
    </div>
  <% end %>
</div>
