<%= stylesheet_link_tag 'eventsshow.css' %>
<% if logged_in? %>
<div class='bg'>
  <div class='center' id='title-content'>
    <div class='inline'>
      <img src="http://i.stack.imgur.com/Dj7eP.jpg" />
      <h1 id='title'><%= @event.title %></h1>
    </div>
  <p id='subtitle'><%= @event.desc %></p>
  <p id='time'>Starts @ <%= @event.time.strftime("%H:%M") %></p>
  </div>
  <% if (current_student.name == "admin" || current_student.name == @event.presenter) %>
    
      <h1>Feedback</h1>
      <table class='center' id='fb-display'>
        <tr>
          <th>Student</th>
          <th>Comments</th>
          <th>Score</th>
        </tr>
        <% @event.feedbacks.each do |f| %>
          <tr>
            <td><%= Student.find(f.student_id).name %></td>
            <td><%= f.comment %></td>
            <td><%= f.score %></td>
            
          </tr>
        <% end %>
      </table>



    
  <% else %>
    <%= link_to "Create Feedback", feedback_path, :id => "create-feedback" %>
  <% end %>

  <%= link_to "Back to Schedule", events_path, :id => "back-to-event" %>

</div>
<% else %>
  <%= link_to "Login", login_path %>
<% end %>