<% if logged_in? %>
<h1><%= @event.title %></h1>
<p><%= @event.desc %></p>
<p><%= @event.time.strftime("%H:%M") %></p>
<% if current_student.name == "admin" %>
<div>
<table>
  <tr>
    <th>Score</th>
    <th>Comments</th>
    <th>Student</th>
  </tr>
  <% @event.feedbacks.each do |f| %>
  <tr>
    <td><%= f.score %></td>
    <td><%= f.comment %></td>
    <td><%= f.student_id %></td>
  </tr>
  <% end %>
</table>
</div>
<% else %>
<%= link_to "Feedback form", feedback_path %>
<% end %>
<% else %>
<%= link_to "Login", login_path %>
<% end %>